# Task 4.10: Coding Etiquette & Excel Reporting, Steps 1-4

### Contents
** **
A) Standard prerequisites, including library loading and path setup.

Step 1:  Import data from Exercise 4.9.

Step 2:  Security implications.

Step 3:  Regional segmentation of the data.

Step 4:  Exclusion of low-activity customers.

## Standard prerequisites.  Now with additional libraries seaborn, matplotlib, and scipy.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Starting with Exercise 4.7, import additional libraries I've discovered thanks to Lubov, especially the time library.
import time
import string
import random

In [3]:
# Set a PATH variable.

In [4]:
# Linux PATH - Sadly, my Linux system with 8GB of total RAM could not import the new df_ords_prior DataFrame.
# BUT, now I have moved again, to an AWS EC2 instance that should be able to handle this.

In [5]:
## path = (r'~/careerfoundry/tasks/data-immersion/Achievement4/Instacart-Basket-Analysis')

### # Oh, wow, matplotlib.pyplot.savefig function does not expand the tilde (~) reference in directory paths.  LAME. :(

In [6]:
path = (r'/home/ubuntu/careerfoundry/tasks/data-immersion/Achievement4/Instacart-Basket-Analysis')

In [7]:
# windoze PATH - The windoze laptop I bought for Excel and Tableau also has 16GB of RAM, so I migrated there.

In [8]:
## path = (r'C:\Users\emccc\OneDrive\Documents\CareerFoundry\Achievement-4\Instacart-Basket-Analysis')

## Step 1:   Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.

In [9]:
# Standard library import and path set up, above.  Now to import the latest version of our data set,
# containing customer, order, and product data.

In [10]:
cust_ords_prods_merge = pd.read_pickle(os.path.join(path, '02-Data','Prepared-Data', 'cust_ords_prods_merge.pkl'))

In [11]:
# Confirming that our dartaframe loaded and appears sane.

In [12]:
cust_ords_prods_merge.shape

(32404859, 35)

In [13]:
# Adding "memory_usage = 'deep'" takes more time and gives a much larger estimate of RAM usage:  34.2GB vs. 8GB.
# We'll see whether the larger number is truly accurate, but I know it's at least about double the 8GB estimate.

In [14]:
cust_ords_prods_merge.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 35 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   order_id                int64
 7   customer_id             int64
 8   order_number            int64
 9   orders_day_of_week      int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  _merge2                 category
 16  price_range             object
 17  price_range_loc         object
 18  busiest_days            object
 19  busiest_hours           object
 20  max_order               int64
 21  loyalty_flag            object
 22  avg_order               float64
 23  spending_flag           object
 24  avg_order_frequency     float64
 25  frequency_flag          object
 26  given_name              object
 27  family_name             object
 28  gender                  object
 29  state                   object
 30  age                     int64
 31  date_joined             object
 32  num_dependents          int64
 33  fam_status              object
 34  income                  int64
dtypes: category(2), float64(4), int64(15), object(14)
memory usage: 34.2 GB

In [15]:
cust_ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,customer_id,order_number,orders_day_of_week,...,frequency_flag,given_name,family_name,gender,state,age,date_joined,num_dependents,fam_status,income
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,1000,Apricots,18,10,12.9,505689,138,9,6,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

In [16]:
# I don't need those old _merge and _merge2 columns, so I shall drop them to save some RAM.

In [17]:
cust_ords_prods_merge = cust_ords_prods_merge.drop(columns=['_merge','_merge2'])

### I am also importing our previously-wrangled Departments data.

In [18]:
depts_df = pd.read_csv(os.path.join(path, '02-Data','Prepared-Data', 'departments_wrangled.csv'), index_col = False)

In [19]:
depts_df

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

## Step 2:  Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

In [20]:
# The columns 'given_name' and 'family_name' are clearly PII.  Drop them from the dataframe.

In [21]:
cust_ords_prods_merge = cust_ords_prods_merge.drop(columns=['given_name','family_name'])

In [22]:
# Check results:  we should have 31 columns now.

In [23]:
cust_ords_prods_merge.shape

(32404859, 31)

In [24]:
cust_ords_prods_merge.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   order_id                int64
 7   customer_id             int64
 8   order_number            int64
 9   orders_day_of_week      int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  price_range             object
 15  price_range_loc         object
 16  busiest_days            object
 17  busiest_hours           object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_order               float64
 21  spending_flag           object
 22  avg_order_frequency     float64
 23  frequency_flag          object
 24  gender                  object
 25  state                   object
 26  age                     int64
 27  date_joined             object
 28  num_dependents          int64
 29  fam_status              object
 30  income                  int64
dtypes: float64(4), int64(15), object(12)
memory usage: 30.3 GB

In [25]:
cust_ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,customer_id,order_number,orders_day_of_week,...,spending_flag,avg_order_frequency,frequency_flag,gender,state,age,date_joined,num_dependents,fam_status,income
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Low spender,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Low spender,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,...,Low spender,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620
3,907,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,...,Low spender,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620
4,1000,1000,Apricots,18,10,12.9,505689,138,9,6,...,Low spender,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620

## Step 3:  The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.

    Use the region information in this Wikipedia article (https://simple.wikipedia.org/wiki/List_of_regions_of_the_United_States) to create your column (you only need to create regions, not divisions).
    Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

In [26]:
# Ugh.  In real life I would hope we would look states/locations up in a database, but for now, it's static lists.

In [27]:
reg_1_ne = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']
reg_2_mw = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']
reg_3_so = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']
reg_4_we = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [28]:
# Checking that the lists look correct.

In [29]:
reg_1_ne

['Maine',
 'New Hampshire',
 'Vermont',
 'Massachusetts',
 'Rhode Island',
 'Connecticut',
 'New York',
 'Pennsylvania',
 'New Jersey']

In [30]:
reg_2_mw

['Wisconsin',
 'Michigan',
 'Illinois',
 'Indiana',
 'Ohio',
 'North Dakota',
 'South Dakota',
 'Nebraska',
 'Kansas',
 'Minnesota',
 'Iowa',
 'Missouri']

In [31]:
reg_3_so

['Delaware',
 'Maryland',
 'District of Columbia',
 'Virginia',
 'West Virginia',
 'North Carolina',
 'South Carolina',
 'Georgia',
 'Florida',
 'Kentucky',
 'Tennessee',
 'Mississippi',
 'Alabama',
 'Oklahoma',
 'Texas',
 'Arkansas',
 'Louisiana']

In [32]:
reg_4_we

['Idaho',
 'Montana',
 'Wyoming',
 'Nevada',
 'Utah',
 'Colorado',
 'Arizona',
 'New Mexico',
 'Alaska',
 'Washington',
 'Oregon',
 'California',
 'Hawaii']

In [33]:
# Assign values to a new column, 'region', based on values in 'state'.

In [34]:
cust_ords_prods_merge.loc[cust_ords_prods_merge['state'].isin(reg_1_ne), 'region'] = 'Northeast'
cust_ords_prods_merge.loc[cust_ords_prods_merge['state'].isin(reg_2_mw), 'region'] = 'Midwest'
cust_ords_prods_merge.loc[cust_ords_prods_merge['state'].isin(reg_3_so), 'region'] = 'South'
cust_ords_prods_merge.loc[cust_ords_prods_merge['state'].isin(reg_4_we), 'region'] = 'West'

In [35]:
# Check results.

In [36]:
cust_ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,customer_id,order_number,orders_day_of_week,...,avg_order_frequency,frequency_flag,gender,state,age,date_joined,num_dependents,fam_status,income,region
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest
2,907,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,...,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest
3,907,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,...,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest
4,1000,1000,Apricots,18,10,12.9,505689,138,9,6,...,9.837838,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest

In [37]:
cust_ords_prods_merge.shape

(32404859, 32)

In [38]:
cust_ords_prods_merge.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 32 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   order_id                int64
 7   customer_id             int64
 8   order_number            int64
 9   orders_day_of_week      int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  price_range             object
 15  price_range_loc         object
 16  busiest_days            object
 17  busiest_hours           object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_order               float64
 21  spending_flag           object
 22  avg_order_frequency     float64
 23  frequency_flag          object
 24  gender                  object
 25  state                   object
 26  age                     int64
 27  date_joined             object
 28  num_dependents          int64
 29  fam_status              object
 30  income                  int64
 31  region                  object
dtypes: float64(4), int64(15), object(13)
memory usage: 32.2 GB

In [39]:
cust_ords_prods_merge['region'].value_counts(dropna = False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

In [40]:
# Now we compare "spending habits" (total sales) across regions.

In [41]:
crosstab_regional_sales = pd.crosstab (cust_ords_prods_merge['spending_flag'], cust_ords_prods_merge['region'], dropna = False)

In [42]:
crosstab_regional_sales

region         Midwest  Northeast     South     West
spending_flag
High spender    155932     108180    209481   160271
Low spender    7441393    5614556  10582404  8132642

## Step 4:  The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [43]:
# I'm curious about the 'max_order' column.

In [44]:
cust_ords_prods_merge['max_order'].describe()

count    3.240486e+07
mean     3.305217e+01
std      2.515525e+01
min      1.000000e+00
25%      1.300000e+01
50%      2.600000e+01
75%      4.700000e+01
max      9.900000e+01
Name: max_order, dtype: float64

In [45]:
# Flag customers based on this 'activity' measure.

In [46]:
cust_ords_prods_merge.loc[cust_ords_prods_merge['max_order'] < 5, 'activity'] = 'low'

In [47]:
cust_ords_prods_merge.loc[cust_ords_prods_merge['max_order'] >= 5, 'activity'] = 'high'

In [48]:
# Based on the describe(), above, most customers should be 'high'.

In [49]:
cust_ords_prods_merge['activity'].value_counts()

high    30964564
low      1440295
Name: activity, dtype: int64

In [50]:
# Checking the dataframe again.

In [51]:
cust_ords_prods_merge.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   order_id                int64
 7   customer_id             int64
 8   order_number            int64
 9   orders_day_of_week      int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  price_range             object
 15  price_range_loc         object
 16  busiest_days            object
 17  busiest_hours           object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_order               float64
 21  spending_flag           object
 22  avg_order_frequency     float64
 23  frequency_flag          object
 24  gender                  object
 25  state                   object
 26  age                     int64
 27  date_joined             object
 28  num_dependents          int64
 29  fam_status              object
 30  income                  int64
 31  region                  object
 32  activity                object
dtypes: float64(4), int64(15), object(14)
memory usage: 34.0 GB

In [52]:
# Split highly active customers off into their own dataframe.

In [53]:
high_cust_df = cust_ords_prods_merge[cust_ords_prods_merge['activity'] == 'high']

In [54]:
high_cust_df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30964564 entries, 0 to 32404847
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   product_id              int64
 2   product_name            object
 3   aisle_id                int64
 4   department_id           int64
 5   prices                  float64
 6   order_id                int64
 7   customer_id             int64
 8   order_number            int64
 9   orders_day_of_week      int64
 10  order_hour_of_day       int64
 11  days_since_prior_order  float64
 12  add_to_cart_order       int64
 13  reordered               int64
 14  price_range             object
 15  price_range_loc         object
 16  busiest_days            object
 17  busiest_hours           object
 18  max_order               int64
 19  loyalty_flag            object
 20  avg_order               float64
 21  spending_flag           object
 22  avg_order_frequency     float64
 23  frequency_flag          object
 24  gender                  object
 25  state                   object
 26  age                     int64
 27  date_joined             object
 28  num_dependents          int64
 29  fam_status              object
 30  income                  int64
 31  region                  object
 32  activity                object
dtypes: float64(4), int64(15), object(14)
memory usage: 32.5 GB

In [55]:
high_cust_df.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,customer_id,order_number,orders_day_of_week,...,frequency_flag,gender,state,age,date_joined,num_dependents,fam_status,income,region,activity
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,high
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,high
2,907,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,high
3,907,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,high
4,1000,1000,Apricots,18,10,12.9,505689,138,9,6,...,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,Midwest,high

In [56]:
# Split low-activity customers off into their own dataframe.

In [57]:
low_cust_df = cust_ords_prods_merge[cust_ords_prods_merge['activity'] == 'low']

In [58]:
low_cust_df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1440295 entries, 340 to 32404858
Data columns (total 33 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1440295 non-null  int64
 1   product_id              1440295 non-null  int64
 2   product_name            1440295 non-null  object
 3   aisle_id                1440295 non-null  int64
 4   department_id           1440295 non-null  int64
 5   prices                  1440045 non-null  float64
 6   order_id                1440295 non-null  int64
 7   customer_id             1440295 non-null  int64
 8   order_number            1440295 non-null  int64
 9   orders_day_of_week      1440295 non-null  int64
 10  order_hour_of_day       1440295 non-null  int64
 11  days_since_prior_order  1440295 non-null  float64
 12  add_to_cart_order       1440295 non-null  int64
 13  reordered               1440295 non-null  int64
 14  price_range             1440295 non-null  object
 15  price_range_loc         1440295 non-null  object
 16  busiest_days            1440295 non-null  object
 17  busiest_hours           1440295 non-null  object
 18  max_order               1440295 non-null  int64
 19  loyalty_flag            1440295 non-null  object
 20  avg_order               1440295 non-null  float64
 21  spending_flag           1440295 non-null  object
 22  avg_order_frequency     1440295 non-null  float64
 23  frequency_flag          1440295 non-null  object
 24  gender                  1440295 non-null  object
 25  state                   1440295 non-null  object
 26  age                     1440295 non-null  int64
 27  date_joined             1440295 non-null  object
 28  num_dependents          1440295 non-null  int64
 29  fam_status              1440295 non-null  object
 30  income                  1440295 non-null  int64
 31  region                  1440295 non-null  object
 32  activity                1440295 non-null  object
dtypes: float64(4), int64(15), object(14)
memory usage: 1.5 GB

In [59]:
low_cust_df.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,customer_id,order_number,orders_day_of_week,...,frequency_flag,gender,state,age,date_joined,num_dependents,fam_status,income,region,activity
340,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,Midwest,low
341,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,Midwest,low
342,3260,3260,Chips Ahoy!/Nutter Butter/Oreo Cookies,61,19,1.7,652770,764,1,3,...,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,Midwest,low
343,3260,3260,Chips Ahoy!/Nutter Butter/Oreo Cookies,61,19,1.7,705212,764,2,2,...,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,Midwest,low
344,3260,3260,Chips Ahoy!/Nutter Butter/Oreo Cookies,61,19,1.7,1813452,764,3,4,...,Frequent customer,Female,Wisconsin,40,2/9/2020,3,married,31308,Midwest,low

In [60]:
# It looks like even my 32GB EC2 instance runs out of RAM when I try to export the 'high_cust_df' dataframe
# to a file, so I am going to try deleting the orginal 'cust_ords_prods_merge' dataframe from memory, first.

In [61]:
del cust_ords_prods_merge

In [62]:
# Export the high_cust_df to a pickle file.

In [63]:
high_cust_df.to_pickle(os.path.join(path, '02-Data', 'Prepared-Data', 'high_cust_df.pkl'))

In [64]:
# Export the low_cust_df to a pickle file.

In [65]:
low_cust_df.to_pickle(os.path.join(path, '02-Data', 'Prepared-Data', 'low_cust_df.pkl'))

In [66]:
# We're not interested in processing information about low-activity customers further, so let's free some RAM.

In [67]:
del low_cust_df